header {
  background: linear-gradient(to top, #fcfbfb, #fcdddd); }
  header .img__1:hover {
    transform: rotate(15deg); }
  header .img__2:hover {
    transform: rotate(345deg); }
  header .titulo {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    font-family: "Cascadia"; }

footer {
  background-image: url("../img/imageFooter3.jpg"), url(""); }

@font-face {
  font-family: "Amaranth-Italic";
  src: url("../fonts/Amaranth-Italic.otf"); }

@font-face {
  font-family: "Amaranth-Regular";
  src: url("../fonts/Amaranth-Regular.otf"); }

@font-face {
  font-family: "Amaranth-Bold";
  src: url("../fonts/Amaranth-Bold.otf"); }

@font-face {
  font-family: "Cascadia";
  src: url("../fonts/Cascadia.ttf"); }

* {
  margin: 0%; }

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "header" "nav" "main" "footer"; }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

main {
  grid-area: main;
  background-image: url("../img/FONDO.png"), url("");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Amaranth"; }
  main .titulo__main h3 {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    color: darkred; }

footer {
  grid-area: footer; }

/* index */
.contenido__dirigido {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  text-align: justify; }
  .contenido__dirigido h3 {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    font-size: larger; }

/* index */
/* preguntas frecuentes */
.preguntas__frecuentes {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 4px; }
  .preguntas__frecuentes ol {
    background-color: rgba(114, 99, 99, 0.3);
    border-bottom: 2px solid salmon;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 20px;
    padding-top: 10px; }
    .preguntas__frecuentes ol li {
      padding: 4px;
      width: 90%; }
      .preguntas__frecuentes ol li p {
        text-align: justify; }
      .preguntas__frecuentes ol li .img__preg__frecuente {
        display: flex;
        margin: 20px; }
        .preguntas__frecuentes ol li .img__preg__frecuente img {
          max-width: 95%;
          transition: 0.5s;
          object-fit: cover; }
          .preguntas__frecuentes ol li .img__preg__frecuente img:hover {
            transform: scale(1.2); }

.tutoriales {
  display: flex;
  align-items: flex-start;
  max-width: 90vw;
  padding: 5px; }
  .tutoriales ol {
    font-size: 200%; }
    .tutoriales ol li {
      padding: 5px;
      margin-bottom: 20px;
      background-color: rgba(114, 99, 99, 0.2);
      border: 2px solid salmon;
      border-radius: 6px; }
      .tutoriales ol li ul {
        font-size: medium; }

/* tutoriales */
@media screen and (min-width: 600px) {
  .footer p:hover {
    font-size: 110%; }
  .contenido__dirigido {
    width: 80vw; }
  .preguntas__frecuentes {
    width: 85vw; }
  .tutoriales ol {
    font-size: medium; } }

@media screen and (min-width: 1024px) {
  .contenido__dirigido {
    width: 70vw;
    text-align: center; }
  .preguntas__frecuentes ol {
    font-weight: normal;
    font-size: medium;
    width: 70vw; }
  .tutorial__item {
    border-radius: 0;
    width: 70vw; }
  .tutoriales {
    width: 70vw; } }
