* {
    margin: 0%;
}

@font-face {
    font-family: "Amaranth-Italic";
    src: url("../fonts/Amaranth-Italic.otf");
}

@font-face {
    font-family: "Amaranth-Regular";
    src: url("../fonts/Amaranth-Regular.otf");

}

@font-face {
    font-family: "Amaranth-Bold";
    src: url("../fonts/Amaranth-Bold.otf");
}

@font-face {
    font-family: "Cascadia";
    src: url("../fonts/Cascadia.ttf");
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
    background: linear-gradient(to top, rgb(252, 251, 251), rgb(252, 221, 221));

}
.img__1:hover {
    transform: rotate(15deg);
}
.img__2:hover {
    transform: rotate(345deg);
}
/* .header img:hover{
    transform: rotate(15deg);
} */


nav {
    grid-area: nav;
}

.titulo {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

main {
    grid-area: main;
    background-image: url("../img/FONDO.png"), url("");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

footer {
    grid-area: footer;
    background-image: url("../img/imageFooter3.jpg"), url("");
}



/* index */
.titulo__main h3 {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    color: darkred;
}

.contenido__dirigido {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    text-align: justify;
}

.contenido__dirigido h3 {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    font-size: larger;
}

/* index */
/* preguntas frecuentes */
.preguntas__frecuentes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px;
}

.preguntas__frecuentes ol {
    background-color: rgba(114, 99, 99, 0.3);
    border-bottom: 2px solid salmon;
    font-weight: bold;
    font-size: larger;
}

.preguntas__frecuentes img {
    display: flex;
    max-width: 100%;
}

.preguntas__frecuentes p {
    text-align: justify;
    margin: 5px;
}

/* preguntas frecuentes */
/* tutoriales */
.tutoriales {
    display: flex;
    align-items: flex-start;
    max-width: 90vw;
    padding: 5px;
}

.tutoriales ol {
    font-size: 200%;
}

.tutorial__item {
    padding: 5px;
    margin-bottom: 20px;
    background-color: rgba(114, 99, 99, 0.2);
    border: 2px solid salmon;
    border-radius: 6px;
}

.tutorial__item ul {
    font-size: medium;
}

/* tutoriales */

@media screen and (min-width: 600px) {
    .footer p:hover {
        font-size: 110%;
    }

    .contenido__dirigido {
        width: 80vw;
    }


    .preguntas__frecuentes {
        width: 90vw;
    }


    .tutoriales ol {
        font-size: medium;
    }

    @media screen and (min-width: 1024px) {
        .contenido__dirigido {
            width: 70vw;
            text-align: center;
        }

        .preguntas__frecuentes ol {
            font-weight: normal;
            font-size:medium;
            width: 70vw;
        }

        /* transcicion de zoom a img preguntas frecuentes */
        .img__preg__frecuente{
            overflow: hidden;
            margin: 15px;
        }
        .img__preg__frecuente img{
            transition: 0.5s;
            object-fit: cover;
        }
        .img__preg__frecuente img:hover{
            transform: scale(1.2);
        }
        /* transcicion de zoom a img preguntas frecuentes */


        .tutorial__item {
            border-radius: 0;
            width: 60vw;
        }

        .tutoriales {
            width: 70vw;
        }

    }
}