header {
  background: linear-gradient(to top, #fcfbfb, #fcdddd); }
  header .titulo {
    text-align: center;
    font-weight: bold;
    font-family: "Cascadia"; }
  @media screen and (min-width: 600px) {
    header .titulo {
      font-size: x-large; } }
  @media screen and (min-width: 1024px) {
    header .titulo {
      font-size: 240%; } }

footer {
  background-image: url("../img/imageFooter3.jpg"), url(""); }

@font-face {
  font-family: "Amaranth-Italic";
  src: url("../fonts/Amaranth-Italic.otf"); }

@font-face {
  font-family: "Amaranth-Regular";
  src: url("../fonts/Amaranth-Regular.otf"); }

@font-face {
  font-family: "Amaranth-Bold";
  src: url("../fonts/Amaranth-Bold.otf"); }

@font-face {
  font-family: "Cascadia";
  src: url("../fonts/Cascadia.ttf"); }

* {
  margin: 0%; }

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "header" "nav" "main" "footer"; }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

main {
  padding-top: 40px;
  padding-bottom: 30px;
  grid-area: main;
  background-image: url("../img/FONDO.png"), url("");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Amaranth"; }
  main .titulo__main h3 {
    text-align: center;
    color: darkred;
    margin-bottom: 40px; }

footer {
  grid-area: footer; }

/* index */
.contenido__texto {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  text-align: justify; }
  .contenido__texto h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger; }

/* index */
/* preguntas frecuentes */
.preguntas__frecuentes {
  width: 100%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; }
  .preguntas__frecuentes .nombrePregunta {
    width: 100%;
    text-align: center; }
  .preguntas__frecuentes ol {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgba(114, 99, 99, 0.3);
    border-bottom: 2px solid salmon;
    font-weight: bold;
    font-size: larger;
    margin-left: auto;
    margin-right: auto; }
    .preguntas__frecuentes ol li {
      width: 90%; }
      .preguntas__frecuentes ol li p {
        text-align: justify; }
      .preguntas__frecuentes ol li .img__preg__frecuente {
        display: flex;
        margin: 20px; }
        .preguntas__frecuentes ol li .img__preg__frecuente img {
          max-width: 100%;
          transition: 0.5s;
          object-fit: cover; }
          .preguntas__frecuentes ol li .img__preg__frecuente img:hover {
            transform: scale(1.2); }

/* preguntas frecuentes */
/* tutoriales */
.tutoriales {
  display: flex;
  align-content: center;
  max-width: 90vw;
  padding: 5px;
  margin-left: auto;
  margin-right: auto; }
  .tutoriales ol {
    font-size: 200%;
    border-radius: 3px; }
    .tutoriales ol .tutorial__item {
      border-radius: 3px;
      margin-bottom: 60px;
      background-color: rgba(114, 99, 99, 0.2);
      padding: 3px; }
      .tutoriales ol .tutorial__item ul {
        font-size: medium; }

/* tutoriales */
/* contacto */
.config__animation {
  animation-delay: 2s;
  animation-iteration-count: 2; }

.contenedor__formulario {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .contenedor__formulario form {
    width: 90%;
    background-color: rgba(114, 99, 99, 0.2);
    border-radius: 3px;
    padding: 1px; }
    .contenedor__formulario form .datos_personales {
      padding-top: 8px;
      padding-bottom: 10px;
      padding-left: 4px; }
      .contenedor__formulario form .datos_personales div {
        margin: 5px; }
        .contenedor__formulario form .datos_personales div label {
          width: 15%;
          text-align: end; }
        .contenedor__formulario form .datos_personales div input {
          width: 78%; }
    .contenedor__formulario form .consulta {
      margin-top: 2px;
      /* para espacion entre los dos bloques  */
      display: flex;
      justify-content: center;
      padding: 10px; }
      .contenedor__formulario form .consulta textarea {
        width: 90%; }
    .contenedor__formulario form .botones__seccion {
      padding: 10px; }
      .contenedor__formulario form .botones__seccion .botones {
        width: 100%;
        display: flex;
        justify-content: center; }

/* extent */
boton, .limpiar__boton, .enviar__boton {
  width: 40%;
  margin: 5px;
  border: 2px solid;
  border-radius: 3px; }

.limpiar__boton {
  background-color: red; }

.enviar__boton {
  background-color: lightgreen; }

/* extent */
/* contacto */
/* quienes somos  */
.img__muestra {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
  .img__muestra img {
    margin: 10px;
    max-width: 260px; }

/* mapa */
.imagen__img01 {
  border: 3px solid black; }

.imagen__img02 {
  border: 3px solid grey; }

.imagen__img03 {
  border: 3px solid blue; }

/* mapa */
/* wuienes somos */
@media screen and (min-width: 600px) {
  .footer p:hover {
    font-size: 110%; }
  .contenido__texto {
    width: 80vw; }
  .preguntas__frecuentes {
    width: 85vw; }
  .tutoriales ol {
    font-size: medium; }
  .contenedor__formulario form {
    width: 70%; } }

@media screen and (min-width: 1024px) {
  .contenido__texto {
    width: 70vw;
    text-align: center; }
  .preguntas__frecuentes ol {
    font-weight: normal;
    font-size: medium;
    width: 70vw; }
  .tutorial__item {
    border-radius: 0;
    width: 70vw; }
  .contenedor__formulario form {
    width: 40%; }
    .contenedor__formulario form .botones__seccion .botones input {
      width: 30%; } }
