header {
    background: linear-gradient(to top, rgb(252, 251, 251), rgb(252, 221, 221));

    .titulo {
        text-align: center;
        font-weight: bold;
        font-family: "Cascadia";
    }

    @media screen and (min-width:600px) {
        .titulo {
            font-size: x-large;
        }
    }
    
    @media screen and (min-width:1024px) {

        .titulo {
            font-size: 240%;
        }
    }

}
