@font-face {
    font-family: "Amaranth-Italic";
    src: url("../fonts/Amaranth-Italic.otf");
}

@font-face {
    font-family: "Amaranth-Regular";
    src: url("../fonts/Amaranth-Regular.otf");

}

@font-face {
    font-family: "Amaranth-Bold";
    src: url("../fonts/Amaranth-Bold.otf");
}

@font-face {
    font-family: "Cascadia";
    src: url("../fonts/Cascadia.ttf");
}