@import 'header';
@import 'footer';
@import 'tipografias';
@import 'variables';
@import 'mixins';

* {
    margin: 0%;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    @include pad_vertical(40px, 30px);
    grid-area: main;
    background-image: url("../img/FONDO.png"), url("");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "IBM-regular";


    .titulo__main h3 {
        text-align: center;
        color: darkred;
        margin-bottom: 40px;
    }

}

footer {
    grid-area: footer;
}



/* index */
.contenido__texto {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    text-align: justify;

    h3 {
        @include pad_vertical(20px, 5px);
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        font-size: larger;
    }
}

/* index */

/* preguntas frecuentes */
.preguntas__frecuentes {
    width: 100%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    .nombrePregunta {
        width: 100%;
        text-align: center
    }

    ol {
        @include pad_vertical(10px, 20px);
        background-color: rgba(114, 99, 99, 0.3);
        border-bottom: 2px solid salmon;
        font-weight: bold;
        font-size: larger;
        margin-left: auto;
        margin-right: auto;

        li {
            width: 90%;

            p {
                text-align: justify;
            }

            .img__preg__frecuente {
                display: flex;
                margin: 20px;

                img {
                    max-width: 100%;
                    transition: 0.5s;
                    object-fit: cover;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

/* preguntas frecuentes */

/* tutoriales */

.tutoriales {
    display: flex;
    align-content: center;
    max-width: 90vw;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;


    ol {
        font-size: 200%;
        border-radius: 3px;

        .tutorial__item {
            border-radius: 3px;
            margin-bottom: 60px;
            background-color: rgba(114, 99, 99, 0.2);
            padding: 3px;

            ul {
                font-size: medium;
            }
        }
    }

}

/* tutoriales */


/* contacto */
.config__animation {
    animation-delay: 2s;
    animation-iteration-count: 2;
}

.contenedor__formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;

    form {
        width: 90%;
        background-color: rgba(114, 99, 99, 0.2);
        border-radius: 3px;
        padding: 1px;

        .datos_personales {
            @include pad_vertical(8px, 10px);
            padding-left: 4px;

            div {
                margin: 5px;

                label {
                    width: 15%;
                    text-align: end;
                }

                input {
                    width: 78%;
                }
            }
        }

        .consulta {
            margin-top: 2px;
            /* para espacion entre los dos bloques  */
            display: flex;
            justify-content: center;
            padding: 10px;

            textarea {
                width: 90%;
            }
        }

        .botones__seccion {
            padding: 10px;

            .botones {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}

/* extent */
boton {
    width: 40%;
    margin: 5px;
    border: 2px solid;
    border-radius: 3px;
}

.limpiar__boton {
    @extend boton;
    background-color: red;
}

.enviar__boton {
    @extend boton;
    background-color: lightgreen;
}

/* extent */
/* contacto */

/* quienes somos  */
.funciones{
    text-align: justify;
    p{
        @include pad_vertical(15px, 2px);
    }
}
.img__muestra {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    img {
        margin: 10px;
        max-width: 260px;
    }
}

/* mapa */
@each $var,
$valor in $map__img {
    .imagen__#{$var} {
        border: $valor;
    }
}

/* mapa */
/* wuienes somos */


@media screen and (min-width: map-get($map__ancho, medio)) {

    .footer p:hover {
        font-size: 110%;
    }

    .contenido__texto {
        width: $ancho-monitorB;
    }

    .preguntas__frecuentes {
        width: $ancho-monitorB;
    }

    .tutoriales ol {
        font-size: medium;
    }

    .contenedor__formulario form {
        width: 70%;
    }
    main {
        font-size: small;
    }

}

@media screen and (min-width: map-get($map__ancho, alto)) {

    .contenido__texto {
        width: $ancho-monitor;
        text-align: center;
    }
    .funciones{
        width: $ancho-monitor;
    }

    .preguntas__frecuentes ol {
        font-weight: normal;
        font-size: medium;
        width: $ancho-monitor;
    }

    .tutorial__item {
        border-radius: 0;
        width: $ancho-monitor;
    }

    .contenedor__formulario form {
        width: 40%;

        .botones__seccion .botones input {
            width: 30%;
        }
    }
}